@model LoginViewModel
@{
	ViewData["Title"] = "Login";
}
<div class="row">
	<div class="col-md-6 offset-3">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Login</h4>
			</div>
			<div class="card-body">
				<div class="px-3">
					<form asp-action="Login" method="post">
						<div class="mb-3">
							<label asp-for="Email" class="form-label"></label>
							<input class="form-control" asp-for="Email">
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="Password" class="form-label"></label>
							<input asp-for="Password" class="form-control">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" asp-for="RememberMe">
							<label class="form-check-label" for="exampleCheck1" asp-for="RememberMe">Remember</label>
						</div>
						<div asp-validation-summary="All" class="text-danger"></div>
						<div>
							<button type="submit" class="btn btn-primary">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



