<a asp-action="Index" asp-controller="Home" class="app-brand-link">
	<span class="app-brand-logo demo">
		<img src="/img/logo.logo.png" class="img-fluid" style="height:50px;width:50px;" />
	</span>
	<span class="app-brand-text demo menu-text fw-bolder ms-2 " style="color:#296889">Pioneer</span>
</a>
